{
    "presets": [
        ["next/babel", {
            "babel-plugin-optimize-clsx": {
                "libraries": ["classnames"],
                "collectCalls": true
            }
        }]
    ],
    "plugins": ["macros", ["styled-components", {
        "ssr": true
    }]]
}