# npmrc 
;@YOUR_GITHUB_USERNAME:registry=https://npm.pkg.github.com/YOUR_GITHUB_USERNAME
;//npm.pkg.github.com/:_authToken=YOUR_GITHUB_TOKEN
;registry=https://registry.npmjs.org
;strict-ssl = true
;cache = "~/.npm"
;cache-lock-retries = 10
;cache-lock-stale = 60000
;cache-lock-wait = 10000
;cache-max = null
;cache-min = 10